html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
 background: #466368;
  background: linear-gradient(#7ccfc4, #1f4041);
}


.link {
  text-decoration: none;
}

.picture {
  display: block;
  max-width: 100%;
  height: auto;
}

